.portfolio {
    margin-top: 20px;
}

.portfolio-container {
    height: auto!important;

    // @media (max-width: 575px) {
    //     height: 260px!important;
    // }
}

.budget {

    &__a {

        &--points {
            width: 10px;
            height: 10px;
            fill: #01ECD2;
        }
    }

    &__a:hover {
        text-decoration: none;
    }
}

.sign-form {

    &__time {

        &--btn {
            background: #fff;
            border: 1px solid #E5E5E5;
            border-radius: 5px;
            padding: 5px;
        }
    }

    &__select div.nselect__inner {
    }
}

.sign-form__select div.nselect__inner {
    width: 100%!important;
}

.d-prof-slider {
    line-height: 0;

    &__block {
        border: 1px dashed #929292;
    }
}

.share-modal-popup {
    max-width: 400px;
}

.share-modal {
    padding: 0;

    &__head {
        padding: 15px;

        &--h {
            font-size: 16px;
            letter-spacing: 0.02em;
            color: #929292;
            
        }
    }

    &__body {
        background-color: #F3FFFE;
        padding-top: 10px;

        &--act {

            &--svg {
                width: 33px;
                height: 33px;
            }

            &--p {
                font-size: 14px;
                letter-spacing: 0.02em;
                color: #AAAFBE;
            }
        }
    }
}