.footer {
    background: #AAAFBE;

    &__contact {
        padding-top: 15px;
        &--p {
            font-size: 20px;
            line-height: 22px;
            letter-spacing: 0.01em;
            color: #FAFAFA;
            @media (max-width: 767px) {
                font-size: 14px;
            }
        }

        &--a {
            font-size: 20px;
            line-height: 22px;
            letter-spacing: 0.01em;
            color: #FAFAFA;
            padding-top: 10px;
            display: block;
            @media (max-width: 767px) {
                font-size: 14px;
                padding-top: 5px;

            }
        }

        &--a:hover {
            text-decoration: none;
            color: #FAFAFA;

        }
    }

    &__span {
        border-top: 1px solid #FFFFFF;
        margin-top: 15px;

        @media (max-width: 767px) {
            margin-top: 10px;
        }

        &--p {
            font-size: 16px;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            padding: 5px 0;
            @media (max-width: 767px) {
                font-size: 10px;
            }
        }
    }
}