 .head-text {

    &__h2 {
        font-size: 22px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: #090909;
        padding-bottom: 5px;

        @media (max-width: 767px) {
            font-size: 16px;
        }
    }
 }

.gallery-photos__content {
    line-height: 0;
 }

#gallery-portfolio .row {
     line-height: 0;
 }

#gallery-cabinet .row {
    line-height: 0;
}

#gallery-cabinet .row div {
    margin-top: 30px;
}

#gallery-portfolio .row div {
    margin-top: 30px;
}

.d-gallery-portfolio .row div {
    margin-top: 0px!important;
    margin-bottom: 30px;
}

.d-portfolio-container-wrapper {
    line-height: 0;
}