.doctor__h {
    margin-top: 20px;
    font-size: 22px;
    letter-spacing: 0.02em;
    color: #090909;

    @media (max-width: 767px) {
        font-size: 14px;

    }
}

.edit-btn {
    display: inline-block!important;
    // width: 235px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    background: #01ECD2;
    border-radius: 22.5px;

    padding: 10px 30px 10px 30px;

    display: block;
    margin: 10px auto;
    
    @media (max-width: 767px) {
        font-size: 14px;
        padding: 7px 25px 7px 25px;
    }
}

.edit-btn:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.log {
    padding-top: 90px;

    &__btn:first-child {
        margin-right: 15px;
    }

    &__btn:last-child {
        margin-left: 15px;
    }
}

.tab-btn {
    width: 170px;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    background: #E4E4E4!important;
    border-radius: 22.5px!important;

    padding: 7px 40px!important;
    text-align: center;
    transition: .3s ;
    
    @media (max-width: 767px) {
        font-size: 14px;
        padding: 5px 20px!important;
        width: 130px;
    }
}

.tab-btn:hover {
    text-decoration: none;
    color: #FFFFFF;
    background: #01ECD2!important;
}

.tab-btn.active {
    background: #01ECD2!important;
}

.wpcf7-form {
	// wpcf7 adds these P tags, just use it as a wrapper
	> p {
		font-size: 16px;
		// font-family: sans-serif;
		position: relative;
		label {
			position: absolute;
			top: 63%;
			transform: translateY(-50%);
			pointer-events: none;
			font-weight: normal;
			transition: top .2s;
            color: #858585;
            padding-left: 10px;
		}
	}
	input.wpcf7-text {
		border: none;
		border: 1px solid #E5E5E5;
        border-radius: 5px;
		padding: 20px 0px 5px 7px;
		width: 100%;
		background-color: transparent;
		color: #363636;
        font-size: 16px;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0.02em;
	}
	// fancy label function
	label.has-value {
		top: 30px;
		font-size: 11px;
	}
}

.wrapper {
    display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.persone__file--download {
    margin-top: 20px;
}

.upload-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.upload-text {
    &--head {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: #858585;
        @media (max-width: 767px) {
            font-size: 10px;
        }
    }

    &--foot {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: #363636;

        @media (max-width: 767px) {
            font-size: 12px;
        }
    }
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #363636;
    background: #fff;
    display: inline-block;
    padding: 10px 55px;
    border-radius: 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    color: #DEBB00;
}

.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}

.nselect {
    width: 100%;

    &__head {
        width: 100%;
        background: #fff!important;
        font-size: 16px!important;
        color: #858585!important;
        border: 1px solid #E5E5E5!important;
        border-radius: 5px!important ;
        padding: 10px 0 10px 7px!important;
        height: none!important;
        height: 100%!important;
        margin-top: 20px!important;
    }

    &__head::after {
        border-color: #858585 transparent transparent transparent!important;
        margin-top: 7px;

        @media (max-width: 767px) {
            margin-top: 5px;
        }
    }

    &__inner {
        margin-top: 20px!important;
        width: 100%;
    }
} 

.nselect__list {
    width: 100%;
} 

.nselect__list LI._active SPAN {
    color: #01ECD2!important; 
}

.nselect__list LI SPAN:hover {
    background: #01ECD2!important;
}

.further {
    margin-top: 20px;
    &__p {
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #363636;
    }

    &__a {
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #01ECD2;
    }

    &__a:hover {
        text-decoration: none;
        color: #01ECD2;

    }
}