.news {
    overflow: hidden;
}

.news-head {
    display: flex;
    justify-content: space-between;

    &__a {
        text-decoration: none;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        background: #438DBA;
        border-radius: 33px;
        padding: 8px 50px;
    }

    &__a:hover {
        text-decoration: none;
        color: #FFFFFF;

    }
}

.news-page {
    &__a:hover {
        text-decoration: none;
    }

    &__block {
        margin-bottom: 30px;
    }

    &__block:nth-child(odd) .news-page__info {
        background: #fff;
    }

    &__block:nth-child(even) .news-page__info {
        background: #fff;
        margin-top: 0;
    }

    &__container {
        margin-top: 0;
        background: #fff;

    }


    &__info {
        width: 100%;
        text-align: left;

        &--h {
            font-size: 20px;
            letter-spacing: 0.02em;
            color: #363636;

            @media (max-width: 767px) {
                font-size: 14px;
            }
        }

        &--p {
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.02em;
            color: #929292;
            margin-top: 10px;

            @media (max-width: 767px) {
                font-size: 12px;
                margin-top: 0;
            }
        }

        &--a {
            font-size: 18px;
            line-height: 16px;
            letter-spacing: 0.02em;
            color: #01ECD2;
            border-radius: 14px;
            margin-top: 25px;
            display: inline-block;

            @media (max-width: 767px) {
                font-size: 12px;
                margin-top: 5px;
            }
        }

        &--a:hover {
            text-decoration: underline;
            color: #01ECD2;

        }
    }

    &__btn {
        // margin: 45px auto 20px auto;
        margin-top: 30px;
        border-top: 1px solid rgba(112, 106, 106, 0.2);
        // border-bottom: 1px solid #706A6A;
        text-align: center;

        &--a {
            display: block;
            padding-top: 20px;
            padding-bottom: 20px;
            // font-size: 17px;
            // line-height: 17px;
            color: #706A6A;
            // margin-top: 15px;

            font-size: 20px;
            line-height: 24px;
        }

        &--a:hover {
            text-decoration: none;
            color: #438DBA;


        }
    }

    &__btn:hover {
        // background: #f9f9f9;
        // border-top: 1px solid #fff;
        // border-bottom: 1px solid rgba(255,255,255,0.5);
        transition: all .3s;

    }

    &__img {
        width: 100%;
        margin: 0 auto;
        display: block;
    }

    &__more {
        // margin-top: 25px;
    }
}

.news-foot {
    justify-content: flex-end;
    margin-top: 30px;
}